@media (max-width: 767.98px) {
    .footer-container p {
        display: none;
    }
}

@media (max-width: 576px) {
    header {
        display: none;
    }

    .login-container {
        margin-top: 30px;
        width: 80%;
        max-width: 600px;
        align-items: center;
        
    }

    .options-2 {
        display: flex;
        width: 100%;
        padding-left: 10px;
      }

      .options-2 p {
        font-size: 12px;
      }

      .options-2 a {
        font-size: 13px;
      }

    .footer-container {
        font-size: 15px;
        border-top: 1px solid white;
    }
}