
@media (min-width: 1900px) {

    .login-container {
        margin-top: 100px;
    }
}

@media (max-width: 1600px) {
    .login-container {
        margin-top: 20px;
    }

    .footer-container {
        padding: 0px;
    }
}

@media (max-width: 992px) {
    .footer-container p {
        display: none;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {

    body {
        width: 100%;
        height: 100%;
    }

    .login-container {
        width: 90%;
        /* max-width: 250px; */
        align-items: center;
    }

    .login-container form label {
        width: 80%;
        font-size: 18px;
        font-weight: 700;
        padding: 5px 0;
    }
      
      
    .login-container form > input {
        width: 80%;
        padding: 5px;
    }
      
    .check {
        width: 80%;
        padding: 10px 5px;
    }

    .login-container a {
        width: 70%;
    }

    .options-container a {
        width: 100%;
    }

    .options-2 {
        display: flex;
        width: 100%;
        padding-left: 10px;
        gap: 0px;
    }

    .options-2 p {
        font-size: 12px;
    }

    .options-2 a {
        font-size: 13px;
        width: 50%;
    }

    .footer-container {
        font-size: 13px;
        /* border-top: 1px solid white; */
        width: 100%;
        padding: 5px;
    }
}