* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}



body {
  background:rgb(51, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
}


.login {
  display: flex;
  justify-content: center;
  background-color: rgb(51, 50, 50);
  width: 100%;
  margin-top: 10px;
}

.login-container img {
  height: 110px;
  margin-bottom: 20px;
}

.login-container {
  height: 650px;
  width: 400px;
  /* margin-left: 25%;
  margin-right: 25%; */
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  margin-top: 10px;
}

form {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

h2 {
  font-size: 35px;
  /* color: #a60f0f; */
  font-weight: bold;
  padding-bottom: 35px;
}

.login-container form label {
  width: 60%;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}


.login-container form > input {
  width: 60%;
  padding: 5px;
}

.check {
  width: 60%;
  padding: 20px 0;
}


.login-container a {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #a60f0f;
  padding: 8px;
  font-size: 18px;
  width: 50%;
  text-align: center;
  /* padding-top: 50px; */
}

.options-container  {
  display: flex;
  margin-top: 50px;
  gap: 25px;
  flex-direction: column;
}

.options-1 a {
 width: 100%;
 display: flex;
 justify-content: center;
 background-color: rgb(51, 50, 50);
 font-size: 15px;
}

.options-2 {
  display: flex;
  width: 100%;
  margin-top: 0px;
}

.options-2 p {
  font-size: 14px;
}

.options-2 a {
  font-size: 15px;
  background-color: rgb(51, 50, 50);
  color: white;
  font-weight: 500;
  border: 1px solid white;
}

/* Footer */

footer {
  color: white;
  /* border-top: 1px solid white; */
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  gap: 30px;
  font-weight: 600;
  color: white;
  margin-top: 40px;
}

